html,
body {
  margin: 0;
  height: 100%;
  background-color: #343a40 !important;
}
@media (max-width: 767px) {
  .text-mobile-right {
    text-align: right;
  }
}

/* loader css */
.center {
  z-index: 1000;
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
div.loader {
  font-size: 100px;
  color: black;
  text-align: center;
}

.loaded {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
