body {
  background-image: url("./universe.jpg");
  background-size: cover;
}
.mainBackground {
  background-color: #343a40;
  border: 2px solid #818fa9 !important;
  border-radius: 30px;
  transition-duration: 1.99s;
  transition-property: transform;
}
.rotationClass {
  transform: rotate3d(10, 0, 0, 1440deg);
}
html,
body {
  margin: 0;
  height: 100%;
}
